@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

textarea.form-control {
    height: 109px;
    resize: none;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.select-box {
    height: auto!important;
}
.select-box-item {
    float: left;
    font-size: 1em;
    font-weight: normal;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
    span {
        cursor: pointer;
    }
}

.select-input {
    border: none;
    outline: none;
}

.navbar-default {
    background-color: #fff;
    border-color: #eee;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #777;
}

.panel-default>.panel-heading {
    background-color: #34495e;
    border-color: #ddd;
}

.panel-default>.panel-heading {
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    padding: 0 15px;
}

body {
    background: rgba(240,240,240,.53);
}
.pre {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.form-inline {
    display: inline-block;
}

.btn-delete {
    border: none;
    background: transparent;
    color: rgba(255, 0, 0, 0.85);
    margin: 0;
    padding: 0;
    outline: none;
}

#map {
    width: 100%;
    background: #fff;
    height: 80vh;
}

.marker-img {
    display: block;
    width: 100%;
}

.jumbotron {
    background: #fff;
    margin-top: 50px;
}